@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --colorPreset1: 34, 31, 31;
  --colorPreset2: 255, 255, 255;
  --colorPreset3: 166, 187, 204;
  --colorPreset4: 217, 217, 217;
  --colorPreset5: 65, 190, 160;
  --colorPreset6: 199, 56, 90;
}

html {
  scroll-behavior: smooth;
  overflow-y: hidden;
}

body {
  overflow-y: hidden;
  scroll-behavior: smooth;
}

button:active {
  transform: scale(0.9);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
