@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --colorPreset1: 55, 52, 52;
  --colorPreset2: 255, 255, 255;
  --colorPreset3: 166, 187, 204;
  --colorPreset4: 217, 217, 217;
  --colorPreset5: 65, 190, 160;
  --colorPreset6: 199, 56, 90;
}

html {
  scroll-behavior: smooth;
  overflow-y: hidden;
}

body {
  overflow-y: hidden;
  scroll-behavior: smooth;
}

button:active {
  transform: scale(0.9);
}

dialog {
  z-index: 1000 !important;
}

.grecaptcha-badge,
.g-recaptcha-badge,
.grecaptcha-bubble-arrow,
.grecaptcha-bubble-anchor {
  z-index: 100000 !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
